<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= full_title(yield(:title)) %></title>

    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/menu' %>

    <div>
      <% flash.each do |message_type, message|  %>
        <%= content_tag(:div, message, class: "callout #{message_type}") %>
      <% end %>
    </div>

    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <%= yield %>

    <div class="row">
      <div class="small-12 columns">
        <div class="callout">
          <%= debug(params) if Rails.env.development? %>
        </div>
      </div>
    </div>

  </body>
</html>
